<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
</head>
<body style="margin: 0; padding: 0;">
  <table border="1" cellpading="0" cellspacing="0" width="600" style="border-collapse: collapse">
    <tr>
      <td bgcolor="#ede7f6" align="center" style="padding: 40px 0 30px 0;" style="color: white; font-size: 48px">
        <img src="../../../../src/assets/images/logo-bullesdeSoi-DP500.png" alt="logo bulles de soi" width="300" height="230" style="display: block;">
        Bulles de Soi
      </td>
    </tr>
    <tr>
      <td>
        Vous trouverez ci-dessous vos identifiants de connexion au site https://www.bullesdesoi.fr .
      </td>
    </tr>
    <tr>
      <td>
        <p>Login: <i>{{email}}</i></p>
        <p>Mot de passe: <i>{{password}}</i></p>
        <br>
        <p>Votre mot de passe devra être modifié à la première connexion</p>
      </td>
    </tr>
    <tr>
      <td bgcolor="#311b92" style="color: white; font-size: 18px;">
        Votre sophroloque Patricia Pesce-Lavaux
      </td>
    </tr>
  </table>
</body>
</html>
